<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Rishi/IdeaProjects/UIwithAPI">
        <classes>
            <class name="test.TestRunner">
            <methods>
                <include name="testNDTV"/>
                <include name="apiNDTV"/>
            </methods></class></classes></test></suite>